@{
    ViewBag.Title = "Phoenix";
}

<br />
<div class="carousel slide" id="mycarousel" data-ride="carousel" style="margin-top:-15px;">

    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        

    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/large1.jpg"  width="1600" height="850" />
            <div class="carousel-caption">
                <p>This week's Sale</p>
            </div>
        </div>
        <div class="item ">
            <img src="~/Content/Images/large2.jpg"  width="1600" height="850"  />
            <div class="carousel-caption">
                <p>This week's Sale</p>
            </div>
        </div>
        <div class="item ">
            <img src="~/Content/Images/large3.jpg"  width="1600" height="850" />
            <div class="carousel-caption">
                <p>This week's Sale</p>
            </div>
        </div>
        
    </div>

    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" ></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" ></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@* parallax start *@

    <div class="content-block-one" style="text-align:center">
    <h1>BIG DISCOUNT SHOES KICKIN'</h1>
    <p>Up to 80%</p>
</div>
<div class="content-space-one">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="content-block-one" style="text-align:center">
    <h1>BIG DISCOUNT SHOES KICKIN'</h1>
    <p>Up to 80%</p>
</div>
<div class="content-space-two">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="content-block-one" style="text-align:center">
    <h1>BEST KOK IN TOWN</h1>
    <p>Ready to hit your insanity in 50%</p>
</div>
<div class="content-space-three">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
@*<hr />
<div>
    <br /><br />
    <h1 style="color:white">Top Discount Minggu Ini </h1> <br />
</div>
<div>

    <table>
        <tr>

            <td><img src="~/Content/Images/1.jpg" class="img-thumbnail" style="width:400px;height:300px" /></td>
            <td><img src="~/Content/Images/purple.jpg" class="img-thumbnail" style="width:400px;height:300px" /></td>
            <td><img src="~/Content/Images/yellow.jpg" class="img-thumbnail" style="width:400px;height:300px" /></td>
        </tr>

    </table>
</div>*@